<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <th:block layout:fragment="title">
    <title>레이아웃</title>
  </th:block>
  <div layout:fragment="content">
    <nav>
      <ul>
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
        <li>list</li>
      </ul>
    </nav>
  </div>
  <th:block layout:fragment="script">
    <script scr=""></script>
  </th:block>
</html>
