<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="paginationFragment(result)">
    <nav
      aria-label="Page navigation"
      th:if="${result != null and not #lists.isEmpty(result.pageNumList)}"
      class="mt-3"
    >
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${result.prev} ? '' : 'disabled'">
          <a
            class="page-link"
            th:href="@{/member/list(
       page=1, 
       type=${result.pageRequestDTO.type}, 
       keyword=${result.pageRequestDTO.keyword}
      )}"
            aria-label="First"
            >&laquo;</a
          >
        </li>

        <li class="page-item" th:classappend="${result.prev} ? '' : 'disabled'">
          <a
            class="page-link"
            th:href="@{/member/list(
       page=${result.prevPage}, 
       type=${result.pageRequestDTO.type}, 
       keyword=${result.pageRequestDTO.keyword}
      )}"
            aria-label="Previous"
            >&lt;</a
          >
        </li>

        <li
          class="page-item"
          th:each="pageNum : ${result.pageNumList}"
          th:classappend="${pageNum == result.current} ? active : ''"
        >
          <a
            class="page-link"
            th:href="@{/member/list(
       page=${pageNum}, 
       type=${result.pageRequestDTO.type}, 
       keyword=${result.pageRequestDTO.keyword}
      )}"
            th:text="${pageNum}"
            >1</a
          >
        </li>

        <li class="page-item" th:classappend="${result.next} ? '' : 'disabled'">
          <a
            class="page-link"
            th:href="@{/member/list(
       page=${result.nextPage}, 
       type=${result.pageRequestDTO.type}, 
       keyword=${result.pageRequestDTO.keyword}
      )}"
            aria-label="Next"
            >&gt;</a
          >
        </li>

        <li class="page-item" th:classappend="${result.next} ? '' : 'disabled'">
          <a
            class="page-link"
            th:href="@{/member/list(
       page=${result.totalPage}, 
       type=${result.pageRequestDTO.type}, 
       keyword=${result.pageRequestDTO.keyword}
      )}"
            aria-label="Last"
            >&raquo;</a
          >
        </li>
      </ul>
    </nav>
  </th:block>
</html>
