<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/home">HOME</a>
        <a href="/calc">Calc</a>
        <a href="/info">Info</a>
        <a href="/board/add">ADD</a>
        <a href="/board/modify">Modify</a>
        <a href="/board/read?no=1">Read</a>
        <a href="/member/login">Login</a>
        <a href="/exam3">Exam3</a>
      </li>
    </ul>
  </body>
</html>
