<html>
  <aside class="left-sidebar" th:fragment="sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a th:href="@{/}" class="text-nowrap logo-img">
          <img th:src="@{/assets/images/logos/logo.svg}" alt="" />
        </a>
        <div
          class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
          id="sidebarCollapse"
        >
          <i class="ti ti-x fs-6"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <iconify-icon
              icon="solar:menu-dots-linear"
              class="nav-small-cap-icon fs-4"
            ></iconify-icon>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item" sec:authorize="isAnonymous()">
            <a
              class="sidebar-link"
              th:href="@{/member/login}"
              aria-expanded="false"
            >
              <i class="ti ti-login"></i>
              <span class="hide-menu">Login</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a
              class="sidebar-link"
              th:href="@{/board/list}"
              aria-expanded="false"
            >
              <i class="ti ti-atom"></i>
              <span class="hide-menu">List</span>
            </a>
          </li>
          <li class="sidebar-item" sec:authorize="isAuthenticated()">
            <a
              class="sidebar-link justify-content-between"
              th:href="@{/member/auth}"
              aria-expanded="false"
            >
              <div class="d-flex align-items-center gap-3">
                <span class="d-flex">
                  <i class="ti ti-aperture"></i>
                </span>
                <span class="hide-menu">Auth</span>
              </div>
            </a>
          </li>
          <li
            class="sidebar-item"
            sec:authorize="hasAnyRole('MANAGER', 'ADMIN')"
          >
            <a
              class="sidebar-link justify-content-between"
              th:href="@{/member/manager}"
              aria-expanded="false"
            >
              <div class="d-flex align-items-center gap-3">
                <span class="d-flex">
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">MANAGER</span>
              </div>
            </a>
          </li>
          <li class="sidebar-item" sec:authorize="hasRole('ADMIN')">
            <a
              class="sidebar-link justify-content-between"
              th:href="@{/member/admin}"
              aria-expanded="false"
            >
              <div class="d-flex align-items-center gap-3">
                <span class="d-flex">
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">ADMIN</span>
              </div>
            </a>
          </li>
          <!-- ---------------------------------- -->
          <!-- Dashboard -->
          <!-- ---------------------------------- -->
          <li class="sidebar-item" sec:authorize="isAuthenticated()">
            <a
              class="sidebar-link justify-content-between has-arrow"
              href="javascript:void(0)"
              aria-expanded="false"
            >
              <div class="d-flex align-items-center gap-3">
                <span class="d-flex">
                  <i class="ti ti-layout-grid"></i>
                </span>
                <span class="hide-menu" sec:authentication="principal.name">USERNAME</span>
              </div>
            </a>
            <ul aria-expanded="false" class="collapse first-level">
              <li class="sidebar-item">
                <a class="sidebar-link justify-content-between" th:href="@{/member/profile}">
                  <div class="d-flex align-items-center gap-3">
                    <div
                      class="round-16 d-flex align-items-center justify-content-center"
                    >
                      <i class="ti ti-user"></i>
                    </div>
                    <span class="hide-menu">PROFILE</span>
                  </div>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link justify-content-between" href="#" id="logout">
                  <div class="d-flex align-items-center gap-3">
                    <div
                      class="round-16 d-flex align-items-center justify-content-center"
                    >
                      <i class="ti ti-logout"></i>
                    </div>
                    <span class="hide-menu logout-btn">Logout</span>
                  </div>
                </a>
              </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
</html>
